**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
# Terraform state
terraform/*.tfstate
terraform/*.tfstate.*
.terraform/
crash.log
crash.*.log
